@use "./variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: variables.$myTitles;
}

h3,
h4,
h5,
h6,
p,
.form-label,
.nav-link,
.btn {
  font-family: variables.$myTexts;
}

label {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

button[type="submit"] {
  display: block;
  margin: 10px auto;
}
