// Fonts:
$myTitles: "Bubblegum Sans", cursive;
$myTexts: "Raleway", sans-serif;
// $myTitles: "Capriola", sans-serif;
// $myFontFamily2: "Lato", sans-serif;
// Colors:
//Option 1
$mybrown: #736453;
$mylightbrown: #93705D;
$mypink: #D1B4A9;
$mygreen: #ABACA3;
$mygray: #9A999D;
//Option 2
$mycolor-brown: #554536;
$mycolor-red: #BF2E21;
$mycolor-pink: #D9806C;
$mycolor-green: #477327;
$mycolor-black: #260101;
$mycolor-white: #FDFBFB;
$text-color-black: #3A5171;
$text-color-white: #FFFFFF;




