// Fonts:
$myTitles: "Bubblegum Sans", cursive;
$myTexts: "Raleway", sans-serif;
// $myTitles: "Capriola", sans-serif;
// $myFontFamily2: "Lato", sans-serif;

// Colors:
//Option 1
$mybrown: #736453;
$mylightbrown: #93705d;
$mypink: #d1b4a9;
$mygreen: #abaca3;
$mygray: #9a999d;

//Option 2
$mycolor-brown: #554536;
$mycolor-red: #bf2e21;
$mycolor-pink: #d9806c;
$mycolor-green: #477327;
$mycolor-black: #260101;

$text-color-black: #260101;
$text-color-white: #ffffff;
