.about-container {
  margin-top: 6.5rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  #row {
    margin: 0;
    padding: 0 2rem;
    #img-column {
      display: flex;
      align-items: center;
    }
  }
}

#carousel {
  margin-right: 0;
  width: 93%;
  .carousel-inner {
    // .carousel-caption {
    //   background-color: #000000;
    //   position: relative;
    //   right: 0;
    //   left: 0;
    //   padding: 3rem;
    //   background-color: transparent;
    // }
  }
}

div.about-container {
  h2 {
    text-align: center;
  }
  p {
    text-align: justify;
  }
}

// ______________MEDIA QUERIES_______________

// Extra small devices (phones, 600px and down) max-width: 600px
@media (max-width: 600px) {
  body {
    #row {
      margin: 0rem 2rem 0rem 2rem;
    }
    #img-column {
      margin-bottom: 2rem;
    }
    div.about-container {
      h1 {
        margin-bottom: 1rem;
      }
      h2 {
        margin-bottom: 1rem;
      }
    }
  }
}

// /* Extra small devices (phones, 600px and down) */
// // @media all and (max-width: 600px) {...}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// // @media all and (min-width: 600px) {...}

// /* Medium devices (landscape tablets, 768px and up) */
// // @media all and (min-width: 768px) {...}

// /* Large devices (laptops/desktops, 992px and up) */
// // @media all and (min-width: 992px) {...}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// // @media all and (min-width: 1200px) {...}
