@use "./partials/variables";

.adop_proc_cont {
  .hero {
    background-size: cover;
    margin-top: 5rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    .mask {
      width: 80%;
      height: 10rem;
    }
  }

  .cards_container {
    display: flex;
    justify-content: center;
    gap: 30px;
    position: relative;
    // margin-bottom: 5rem;
    padding: 0 1rem 6rem 1rem;
    .card {
      width: 100%;
    }

    .button_adop_card {
      border-color: grey;
      background-color: grey;
    }

    .ad_card {
      flex-direction: column;
    }
  }
}

// ______________MEDIA QUERIES_______________

@media (max-width: 600px) {
  body {
    .adop_proc_cont {
      margin: 5rem auto 8rem;

      .cards_container {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

@media (max-width: 415px) {
  .adop_proc_cont {
    .background-container {
      height: 40vh;
    }
  }
}
