@use "./partials/variables";

.adop_proc_cont {

  .hero {

    background-size: cover;
    margin-top: 5rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    box-shadow: 0px 1px 12px -6px #212529;
    img{
      height:450px;
      width:100vw;
    }
  }


  .cards_container {
    display: flex;
    justify-content: center;
    
    gap: 30px;
    position: relative;
    // margin-bottom: 5rem;
    padding: 0 4rem 6rem 4rem;
    width:100%;
    flex-wrap: wrap;
    

   
    .ad_card{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      width: 400px;
      height:100%;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0px 1px 12px -6px #212529;
      
    }
    .third-card{
      justify-content:flex-start !important;
     
}
//   .second-card{

  
//   } 

  }
}

// ______________MEDIA QUERIES_______________

@media (max-width: 600px) {
  .adop_proc_cont {
    margin-bottom: 20vh;
    .hero {
      background-size: cover;
      margin-top: 5rem;
      margin-bottom: 3rem;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      margin: 0 4rem 6rem rem ;
      img{
        height:100%;
        width:100%;
      }
  }
    .mask {
      width: 70%;
      height:10rem;
      border-radius: 10px;
      background-color:  rgba(32, 31, 31, 0.806);
      h1{
        color:#fff;
        font-size: 0.5rem;
      }
    }
    
      .cards_container {
        //small screens -----> check picture
        flex-direction: column;
        align-items: center;
        width: 300px;
      height:100%;
      padding:0;
      }
    }
    .ad_card{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      width: 50%;
      height:100%;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0px 1px 12px -6px #212529;
      
    }
  }
    





// @media (max-width: 415px) {
//   .adop_proc_cont {

//     .background-container {
//       height: 40vh;
//     }
//   }
// }

// /* Extra small devices (phones, 600px and down) */
// // @media all and (max-width: 600px) {...}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// // @media all and (min-width: 600px) {...}

// /* Medium devices (landscape tablets, 768px and up) */
// // @media all and (min-width: 768px) {...}

// /* Large devices (laptops/desktops, 992px and up) */
// // @media all and (min-width: 992px) {...}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// // @media all and (min-width: 1200px) {...}
