@use "../styles/partials/variables";
// ------Buttons inside of a card------
.btn_cont {
  width: 100%;
  text-align: center;
  background-color: variables.$mypink;
  border-color: transparent;
  &:active {
    outline: none !important;
    border: none !important;
    background-color: #d1b4a9 !important;
  }
}

.btn_cont:hover {
  background-color: variables.$mylightbrown;
  border-color: transparent;
}

// ------Larger buttons------
.btn_lgr {
  display: inline-block;
  width: 11rem;
  height: 3rem;
  color: #fff;
  border-color: transparent;
  // text-align: center;

  background-color: variables.$mypink;
  display: flex;
  align-items: center;
  justify-content: center;
  &:active {
    outline: none !important;
    border: none !important;
    background-color: #d1b4a9 !important;
  }
}

.btn_lgr:hover {
  background-color: variables.$mylightbrown;
  border-color: transparent;
}

// ------Save button (UserProfileSettings) ------

.btn_sv {
  width: 11rem;
  border-color: transparent;
  text-align: center;
  background-color: variables.$mycolor-green;
}

.btn_sv:hover {
  background-color: variables.$mylightbrown;
  border-color: transparent;
}

// ------Delete button (UserProfileSettings) ------

.btn_del {
  width: 11rem;
  border-color: transparent;
  text-align: center;
  background-color: variables.$mycolor-red;
}

.btn_del:hover {
  background-color: variables.$mylightbrown;
  border-color: transparent;
}

.btn_filters {
  color: #fff;
  border-color: transparent;
  background-color: variables.$mypink;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.btn_filters:hover {
  background-color: variables.$mylightbrown;
  border-color: transparent;
}
.btn_adoption {
  display: inline-block;
  width: 11rem;
  height: 3rem;
  color: #fff;
  border-color: transparent;

  background-color: variables.$mypink;
  display: flex;
  align-items: center;
  justify-content: center;
  &:active {
    outline: none !important;
    border: none !important;
    background-color: #d1b4a9 !important;
  }
}

.btn_adoption:hover {
  background-color: variables.$mylightbrown;
  border-color: transparent;
}
.settings-button {
  display: inline-block;
  width: 7rem;
  height: 3rem;
  color: #fff;
  border-color: transparent;

  background-color: variables.$mypink;
  display: flex;

  align-items: center;
  justify-content: center;
  &:active {
    outline: none !important;
    border: none !important;
    background-color: #d1b4a9 !important;
  }
}
.settings-button:hover {
  background-color: variables.$mylightbrown;
  border-color: transparent;
  color: #fff;
}
