.checkbox-wrapper input[type="checkbox"] {
    width: 1em;
    height: 1em;
    border-radius: 0.15em;
    margin-right: 0.5em;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
  }

  