
@use "./partials/variables";
.container-contact {
  width: 500px !important;
  height:600px !important;

 
  margin-top: 15vh;
  margin-bottom: 10vh;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: -5px 7px 20px 2px variables.$mypink;


  h1 {
    text-align: center;
    margin: 3rem 0;
  }
  .contact_form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 300px;
    height:70%;
    margin: 0 auto;

    .form-group {
      margin-top: 3rem;
      margin-bottom: 1.5rem;
 
    }
  }
  .form-label{
color: #3A5171

  }
}
