.cont_donate {
  margin-top: 10rem;
  max-width: 35rem;
  .banner_donate {
    height: 7rem;
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin-bottom: 0;
    }
  }

  .but-one,
  .but-two {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .banner-two {
    p {
      text-align: center;
    }
  }
}

// ______________MEDIA QUERIES_______________

// Extra small devices (phones, 600px and down) max-width: 600px
@media (max-width: 600px) {
  body {
    .cont_donate {
      max-width: 25rem;
      margin: 7rem auto 0rem;
      .row {
        margin-bottom: 8rem;
      }
    }
  }
}
