.foster-container {
  margin-top: 2rem;
  margin-bottom: 4rem;
  text-align: center;
  padding: 2rem;
  padding-top: 5rem;
  h1 {
    margin: 0.5rem;
    padding: 0.5rem;
  }
  .row {
    grid-gap: 0.5rem;
    margin-top: 2rem;
    .foster-text {
      text-align: justify;
      h2 {
        text-align: center;
      }
    }
  }
}
