@use "./partials/variables" as variables;

.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-block: 10vh;
  width: 800px;
  .give-for-adoption-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 5vh;
    border: 1px solid #ccc;
    box-shadow: -5px 7px 20px 2px variables.$mypink;
    border-radius: 5px;
    padding: 20px;

    input[type="text"],
    input[type="number"],
    input[type="checkbox"] {
      margin-right: 10px;
      margin-bottom: 10px;
      width: 100%;
    }
    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      label {
        font-weight: bold;
        text-align: left;
      }
      input {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
      }
      .custom-select {
        font-size: 14px;
      }
    }
    .submit-button-form {
      margin-top: 20px;
      width: fit-content;
      margin-left: auto;
      margin-right: auto;

      // .btn_adoption {
      //   width: fit-content;
      //   padding: 5px;
      //   border-radius: 5px;
      // }
    }
  }
}
