.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.give-for-adoption-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 25px;
  justify-items: center;
  align-items: center;
  width: 100%;
  border: 1px solid #ccc;
  padding: 20px 20px;
  margin: 20px;
  border-radius: 5px;
  padding: 50px;

  input[type="text"],
  input[type="number"],
  input[type="checkbox"] {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

// .checkboxes {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
// }

.submit-button-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.form-group {
  label,
  input {
    width: 350px;
  }

  margin-bottom: 10px;
}
