@use "./partials/variables" as variables;

.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-block: 10vh;
  .give-for-adoption-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 15px;
    justify-items: left;
    align-items: center;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;

    input[type="text"],
    input[type="number"],
    input[type="checkbox"] {
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      label {
        font-weight: bold;
        text-align: left;
      }
      input {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
      }

      .custom-select {
      }
    }
    .submit-button-form {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;

      button {
        width: 200px;
      }
    }
  }
}
.give-for-adoption {
  margin: 0 10vh;
  // margin-left: 1rem;
  display: flex;
  flex-direction: column;
}
