@use "./partials/variables";

.cont {
  margin-top: 8rem;
  margin-bottom: 6rem;
  .col {
    .row > * {
      display: flex;
      flex-direction: column;
    }
    .first-block-home {
      .first-block-text {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 3rem;
      }
      .image-container {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        max-width: 50%;
        max-height: 500px;
        margin-right: 3rem;
      }
      .image-container {
        margin-right: 3rem;
      }
    }
    .second-block-home {
      h2 {
        margin-top: 3rem;
        text-align: center;
      }
    }
  }
}

.row .meet_them {
  display: flex;
  align-items: center;
  .cards-home {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 2rem;
  }
}

//Swiper Stuff
.carousel-wrapper {
  // --swiper-pagination-bullet-inactive-color: transparent;
  // --swiper-theme-color: transparent;

  margin-top: 3rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  .swiper {
    border-radius: 10px;
    width: 80%;
    height: 100%;
    .swiper-slide {
      color: variables.$text-color-white;
      text-align: center;
      font-size: 18px;
      background-color: variables.$mypink;

      /* Center slide text vertically */
      display: flex !important;
      justify-content: center;
      align-items: center;
      .fact-text {
        width: 80%;
        margin: 0;
      }
    }
    .swiper-button-prev {
      color: variables.$mycolor-white;
    }
    .swiper-button-next {
      color: variables.$mycolor-white;
    }
    .swiper-pagination-bullet {
      background-color: variables.$mycolor-white;
    }
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// ______________MEDIA QUERIES_______________

// Extra small devices (phones, 600px and down) max-width: 600px
@media (max-width: 600px) {
  body {
    .cont {
      margin-top: 7rem;
      margin-bottom: 8rem;
      .col {
        .first-block-home {
          display: flex;
          flex-direction: column-reverse;
          gap: 1rem;
          .image-container {
            height: 200px;
            max-width: 100%;
          }
          .first-block-text {
            margin-left: 0rem;
          }
        }
        .second-block-home {
          h2 {
            margin-top: 2rem;
          }
        }
      }
    }
    .carousel-wrapper {
      height: 20rem;
    }
  }
}
