.cont {
  margin-top: 8rem;
  margin-bottom: 6rem;
  .col {
    .row > * {
      display: flex;
      flex-direction: column;
    }
    .first-block-home {
      .first-block-text {
        justify-content: center;
        text-align: center;
        margin-left: 3rem;
      }
      .img-home {
        max-width: 100%;
        height: auto;
        margin-right: 3rem;
      }
    }
    .second-block-home {
      h2 {
        height: 6rem;
        line-height: 6rem;
        text-align: center;
        .meet_them {
          display: flex;
          align-items: center;
          .row .cards-home {
            display: flex;
            flex-direction: row;
            padding: 3rem;
            gap: 2rem;
          }
          // a.btn {
          //   display: flex;
          //   justify-content: center;
          //   align-items: center;
          // }
        }
      }
    }
  }
}

.factscarousel {
  height: 20vh;
  .carousel-caption {
    background-color: #000000;
    position: relative;
    width: 100%;
    height: 100%;
  }
}
.carousel-home {
  width: 100vw;
  padding: 1rem;
}

//Swiper Stuff

.carousel-wrapper {
  margin-top: 3rem;
  height: 10rem;
  display: flex;
  justify-content: center;
}

.swiper {
  width: 80%;
  height: 100%;
}

.swiper-slide {
  color: white;
  text-align: center;
  font-size: 18px;
  background: black;

  /* Center slide text vertically */
  display: flex !important;
  justify-content: center;
  align-items: center;

  .fact-text {
    width: 80%;
    margin: 0;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// ______________MEDIA QUERIES_______________

// Extra small devices (phones, 600px and down) max-width: 600px
// @media (max-width: 600px) {
//   body {
//     .first-block-home {
//       display: flex;
//       flex-direction: column-reverse;
//       gap: 1rem;
//       margin: 0rem 0.7rem 0rem 0.7rem;
//       .first-block-text {
//         margin-left: 0rem;
//         h1 {
//           margin: 1rem 0rem 1rem 0rem;
//         }
//       }
//       .img-home {
//         margin-right: 0rem;
//       }
//     }
//     .second-block-home {
//       h2 {
//         height: 4rem;
//         line-height: 4rem;
//         text-align: center;
//       }
//       .ctn_check_more {
//         margin: 2rem 0rem 2rem 0rem;
//         .btn {
//           width: 140px;
//           margin: 0 auto;
//         }
//       }
//     }

//     .carousel-caption {
//       display: flex;
//       flex-direction: row;
//       padding: 1rem;
//       font-size: 0.5rem;
//     }
//     .carousel-control-prev-icon,
//     .carousel-control-next-icon {
//       width: 1.5rem;
//       height: 1.5rem;
//     }
//   }
// }

// // Small devices (portrait tablets and large phones, 600px and up) min-width: 600px
// @media (min-width: 600px) {
//   body {
//     .first-block-home {
//       display: flex;
//       flex-direction: column-reverse;
//       gap: 1rem;
//       margin: 1rem 2rem 0rem 2rem;
//       .first-block-text {
//         margin-left: 0rem;
//       }
//       .img-home {
//         margin-right: 0rem;
//       }
//     }
//     .second-block-home {
//       h2 {
//         margin: 1rem 0rem 1rem 0rem;
//       }
//       .row {
//         margin-left: 2rem;
//         margin-right: 2rem;
//         .col {
//           .ctn_check_more {
//             margin: 2rem 0rem 2rem 0rem;
//             .btn {
//               width: 140px;
//               margin: 0 auto;
//             }
//           }
//         }
//       }
//     }
//   }
// }

// // Medium devices (landscape tablets, 768px and up) min-width: 768px
// @media (min-width: 768px) {
//   body {
//     .first-block-home {
//       flex-direction: row;

//       margin: 1rem 2rem 0rem 2rem;
//       .first-block-text {
//         margin-left: 0rem;
//       }
//       .img-home {
//         margin-right: 0rem;
//       }
//     }
//   }
// }

/* Extra small devices (phones, 600px and down) */
// @media all and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
// @media all and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
// @media all and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
// @media all and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
// @media all and (min-width: 1200px) {...}

// // ______________MEDIA QUERIES_______________

// // Small devices (portrait tablets and large phones, 600px and up) min-width: 600px
// @media (max-width: 600px) {
//   .cards-home {
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     gap: 1rem;
//   }
// }
