.cont-first {
  margin-top: 10vh;
  margin-bottom: 40vh;
}

.carousel-txt {
  margin-top: 20vh;
  margin-bottom: 10vh;

}

.checkpets-btn {
  display: inline-block;
  margin-top: 15vh;
  background-color: blue;
}

.cards-home {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3vh;
}
