@use "./partials/variables";

.card_petcard {
  width: 12rem;
  height: 17rem;
  .card-body {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    .heart {
      position: absolute;
      right: 20px;
      top: 20px;
    }
    .heart:hover {
      color: red;
      width: 2rem;
      height: 2rem;
      transition: 0.3s;
      cursor: pointer;
    }
    .linkpet {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      width: 100%;
      height: 100%;
      padding: 1rem !important;
      background-color: variables.$mygreen;
      .card-title {
        margin: 0;
        color: variables.$text-color-white;
      }
    }
    .linkpet:hover {
      background-color: variables.$mybrown;
      color: white;
    }
  }
}

// ______________MEDIA QUERIES_______________

// Small devices (portrait tablets and large phones, 600px and up) min-width: 600px
@media (max-width: 600px) {
  .card_petcard {
    width: 45%;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    .card-title {
      font-size: 1rem;
    }
  }
}
