@use "./partials/variables" as variables;

.card {
  width: 12rem !important;
  height: 17rem !important;
  margin: 0 20px 20px 20px;
  // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  overflow: hidden;
  .linkpet {
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 100%;
    //padding: 1rem !important;
    background-color: #d1b4a979;

    .card-img-top {
      width: 100% !important;
      height: 80% !important;
      object-fit: cover !important;
    }

    h5 {
      color: #3a5171;
      font-weight: 600;
    }
    border-color: transparent;
    // text-align: center;
    border-radius: 3px;
    .card-title {
      margin: 0;
    }
    .fa-heart {
      position: absolute;
      right: 20px;
      top: 20px;
    }
    .fa-heart {
      color: white;
      font-size: 2rem;
    }
  }
  .linkpet:hover {
    background-color: #ffffff;
    h5 {
      color: #c89b89;
    }

    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    .card-body {
      width: 100%;
      height: 20% !important;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 !important;
      text-decoration: none;
      width: 100%;
      height: 100%;
      background-color: #d1b4a9;
      h5 {
        color: #fff;
      }
      border-color: transparent;
      // text-align: center;
      border-radius: 3px;
      .card-title {
        margin: 0;
      }
    }

    .fa-heart:hover {
      font-size: 2.5rem;
      transition: 0.3s;
      cursor: pointer;
    }
   
  }
}
.card:hover {
  transform: scale(1.1);
  transition: 0.5s;

  cursor: pointer;
}

.card:not(:hover) {
  transition: 0.5s;
}

// ______________MEDIA QUERIES_______________

// Small devices (portrait tablets and large phones, 600px and up) min-width: 600px
@media (max-width: 600px) {
  body {
    .card_petcard {
      width: 90%;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .linkpet {
      h5 {
        color: #fff;
      }
    }
    .linkpet:hover {
      background-color: #ffffff;
      h5 {
        color: #c89b89;
      }

      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
  }
}

// Medium devices (landscape tablets, 768px and up) min-width: 768px
// @media (min-width: 768px) {
//   body {

//   }
// }

/* Extra small devices (phones, 600px and down) */
// @media all and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
// @media all and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
// @media all and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
// @media all and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
// @media all and (min-width: 1200px) {...}
