@use "./partials/variables" as variables;

.pet-profile-cont {
  margin-top: 8rem;
  margin-bottom: 6rem;

  .pet-profile-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
    .pet-profile-photo {
      flex: 0 0 300px;
      margin-right: 20px;
      border-radius: 5px;
      padding: 6px;
    }

    .pet-profile-data {
      flex: 1;
      margin: 15px;
      .btn_lgr {
        margin-top: 10px;
        background-color: variables.$mypink;
        color: white;

        &:hover {
          background-color: darken(variables.$mypink, 10%);
        }
      }
    }
  }
  .pet-profile-description {
    padding: 20px;
    background-color: #eee9e9;
    border-radius: 5px;
    box-shadow: -5px 7px 20px 2px variables.$mypink;
  }
}
// ______________MEDIA QUERIES_______________

// Extra small devices (phones, 600px and down) max-width: 600px
@media (max-width: 600px) {
  body {
    .petProfile_cont {
      display: flex;
      flex-direction: column;
      padding-left: 1rem;
      padding-right: 1rem;
      margin: 7rem auto 7.5rem;
      .petProfile {
        max-width: 20rem;
      }
      .pet_text_info {
        .pet_titles_info {
          margin-top: 1rem;
        }
      }
    }
  }
}

// /* Extra small devices (phones, 600px and down) */
// // @media all and (max-width: 600px) {...}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// // @media all and (min-width: 600px) {...}

// /* Medium devices (landscape tablets, 768px and up) */
// // @media all and (min-width: 768px) {...}

// /* Large devices (laptops/desktops, 992px and up) */
// // @media all and (min-width: 992px) {...}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// // @media all and (min-width: 1200px) {...}
