.petsearchpage_cont {
  margin: 7rem auto 7rem;
  display: flex;
  justify-content: row;
  .filters-list {
    border: 1px solid rgb(199, 195, 195);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin: 0 2rem;
    .btn_filt_cont {
      display: flex;
      flex-direction: column;
      align-items: center;
      .btn_lgr {
        margin-top: 10px;
      }
    }
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

// ______________MEDIA QUERIES_______________

// Extra small devices (phones, 600px and down) max-width: 600px
@media (max-width: 600px) {
  body {
    .petsearchpage_cont {
      display: flex;
      flex-direction: column;
      .filters-list {
        margin: 0 2rem;
        margin-bottom: 2rem;
        width: auto;
      }
      .cards {
        justify-content: center;
      }
    }
  }
}
