.cont-shelter {
 
  display: flex;
  flex-direction: row;
  .card-shelter {
 
    margin:0 6rem 1rem 1rem;

     .submit{
     display:inline;
    }
    .form-control{
      width:70%;
    }
  }
}

.maincontainer{
  display: flex;
  justify-content:flex-start;
  width:80%;
  margin:0 auto ;
}
.shelters{
  display: flex;
  flex-direction: column;
}
.title_shelter{
  margin: 7rem 5rem 5rem 5rem;
  // text-align: center;
}
// ______________MEDIA QUERIES_______________

// Extra small devices (phones, 600px and down) max-width: 600px
@media (max-width: 600px) {
  body {

    .cont-shelter {
      display: flex;
      flex-direction: column;
      margin:1rem 3rem 3rem 1rem;

      // justify-content: flex-start;
      .card-shelter {
        max-width: 40rem;
        margin:1rem 5rem 1rem 1rem;
        // position: relative;
        // transform: translateY(-50%);
         .submit{
         display:inline;
        }
      }
      .shelters{
        display: flex;
        flex-direction: column;
        margin-bottom: 10rem;
      }
    }
  }
  
}

// /* Extra small devices (phones, 600px and down) */
// // @media all and (max-width: 600px) {...}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// // @media all and (min-width: 600px) {...}

// /* Medium devices (landscape tablets, 768px and up) */
// // @media all and (min-width: 768px) {...}

// /* Large devices (laptops/desktops, 992px and up) */
// // @media all and (min-width: 992px) {...}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// // @media all and (min-width: 1200px) {...}
