@use "./partials/variables";

.settings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: -5px 7px 20px 2px variables.$mypink;


align-items: center;
  max-width: 27rem;
  margin: 9rem auto 6rem;
  border: 1px solid #ccc;
  padding: 20px 20px;
  border-radius: 5px;

  .form-groups {
 display: flex;
 flex-direction: column;
  justify-content: center;
  align-items: center;

  }

  .form-inputs {
    width:90%;
    padding: 10px;
    margin: 5px;
  }

  .delete-profile-btn {
    // padding: 10px;
    margin: 5px;
  }


  
  .form-label{
    margin-top:13px;
    margin-bottom: 5px;
color:#3A5171;
font-size: 1.5rem;
  }
}
