.profile-settings {
  .user-info {
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px 20px;
  }

  .favorite-pets {
    margin: 10vh;
    border: 1px solid #ccc;
    padding: 20px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .filters-list-short {
    margin: 10vh;
    border: 1px solid #ccc;
    padding: 20px 20px;
    border-radius: 5px;
  }

  .give-for-adoption {
    margin: 10vh;
    border: 1px solid #ccc;
    padding: 20px 20px;
    border-radius: 5px;
  }

  .checkboxes-userprofile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
  }

  .user-avatar-image {
    width: 300px;
    height: 300px;
  }
}
