.settings-container {
  max-width: 27rem;
  margin: 9rem auto 6rem;
  border: 1px solid #ccc;
  padding: 20px 20px;
  border-radius: 5px;

  .form-groups {
    padding: 10px;
    margin: 10px;
  }

  .form-inputs {
    padding: 10px;
    margin: 10px;
  }

  .delete-profile-btn {
    padding: 10px;
    margin: 10px;
  }

  .btn_sv {
    padding: 10px;
  }
}
